@charset "UTF-8";
/* CSS Document */

body {
  background-color: #ECFBC2;
  color: #277BC0;
  
  padding: 50px;

}

table, td {
  border:1px solid black;
	padding: 6px;
}

li {font-size: 20px;
	font-weight: 600;}